{% extends "main_layout.html" %}

{% block title %}
    Password Reset
{% endblock %}

{% block page %}
    Password Reset
{% endblock %}


{% block content %}

<h2>Forgotten Your Password?</h2><br><br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- <a href="{% url 'mainscreen' %}">Back</a>
        <button type="submit">Submit</button> -->
    </form>

    <div class="loginbox">
        <!--WHEN LOG IN BUTTON CLICKED TAKES TO LOGIN ROUTE (KIDS-URLS) -->
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            
                <!-- {% if message %}
                    <div class = testheader>
                        <h1>{{message}}</h1><br>
                    </div>
                {% endif %} -->
                
                <label style="width: 470px; color: red; font-size: 20px">Enter your email address, to change your password:</label><br><br>
                <input name="emailaddress" type="email" style="width: 200px;" placeholder=" < your email address >" required />
                <br><br>
                <!-- <label style="width: 100px">Password:</label>
                <input name="password" type="password" style="width: 200px;"/><br> -->
                
                
                <!--<input type="submit" value="Login"/>-->
                    
                <button class="btn btn-primary" type="submit" value = "Login">Continue</button> <br> <br>
                <!--<a href="{% url 'register' %}">Lost your password?</a> <br>-->
                <!-- <a href="{% url 'registerview' %}">Register</a> -->
                <!--<button class="btn btn-secondary" type="submit" name = "submit" value = "Change Password">Change Password</button><br><br>
                <button class="btn btn-secondary" type="submit" name = "newuser" value = "New User">New User</button>-->

            
        </form>
    </div>

<!--     
<div class="loginbox">
    <!--WHEN LOG IN BUTTON CLICKED TAKES TO LOGIN ROUTE (KIDS-URLS) -->
    <!-- <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        
            <h1 style="color:darkred;">RESET PASSWORD</h1>
            <hr> <br>
            
            <label class="labels">First Name:</label>
            <input name="firstname" type="text"/><br><br>

            <label class="labels">Surname:</label>
            <input name="Surname" type="text"/><br><br>
            
            <label class="labels">Email Address:</label>
            <input name = "email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" size="20" required/><br><br>
            
            <label class="labels">Contact Number:</label>
            <input name="phone" type="tel" id="phone" pattern="[0-9]{11}"><br><br>

            <label class="labels">Reason for Access:</label>
           
            <select id="reason" name="reason" style="margin-left: 15px; margin-right:11%;">
                <option value="Main" selected>Main User</option>
                <option value="Admin">Administrator</option>
                <option value="Guest">Guest</option>
              </select><br>

              <hr>
            <label class="labels" style="margin-right: 40%;">Setup;</label><br>
            
              <label>Enter a username: </label>
              <input name="username" type="text"/><br><br>
              <label>Enter a password: </label>
                <input name="password" type="password"/><br>
                <hr>
            <p align ="center">
            <button class="btn btn-primary" type="submit" value = "Login">Submit</button>
            <button class="btn btn-secondary" type="button" onclick="window.history.back();">Cancel</button><br><br>
            <!--<button class="btn btn-secondary" type="submit" value = "Cancel">Cancel</button> <br> <br>-->
            </p>
    </form>
</div>
 

{% endblock %}